{
  "semi": false,
  "arrowParens": "always",
  "singleQuote": true,
  "tabWidth": 2,
  "importOrder": ["^react$", "<THIRD_PARTY_MODULES>", "@/components/(.*)$", "^@/lib/(.*)$", "^@/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
}